/* INICIO GENERAL ↓ */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 524px) {
  body, html {
    scroll-behavior: unset;
  }
}
/* FIN GENERAL ↑ */










/* INICIO VIDEO ↓ */
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

#video-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content {
  position: absolute;
  margin: auto;
  z-index: 1;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.088);
  width: fit-content;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* IFIN VIDEO ↑ */











/* INICIO NAV BAR ↓ */
.div-navbar{
  position: sticky;
  top: 0%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 0;
  height: 12vh;
  z-index: 1;
}

.logo-menu{
  width: 8vw;
  margin-left: 2vw;
}



.ul-menu{
  display: flex;
  gap: 3vw;
  margin-right: 2vw;
  list-style: none;
}

.ul-menu li a{
  font-size: 1.5vw;
  color: white;
}

.ul-menu li a:hover{
  text-shadow: 
  0px 0px 20px yellow,
  0px 0px 25px yellow;
}




@media screen and (max-width: 524px) {
  .div-navbar{
    height: 8vh;
  }
  
  .logo-menu{
    width: 16vw;
    margin-left: 3vw;
  }
  
  .ul-menu{
    margin: 0;
    gap: 4vw;
    margin-right: 3vw;
  }
  
  .ul-menu li a{
    font-size: 2.1vw;
  }
  
  .ul-menu li a:hover{
    text-shadow: 1px 1px 12px yellow;
  }

  
}
/* FIN NAV BAR ↑ */









/* .section {
  scroll-margin-top: 14vh; 
}

@media screen and (max-width: 524px) {
  .section {
    scroll-margin-top: 10vh; 
  }
} */










/* INICIO CURSOS ↓ */
.section-cursos{
  margin-top: 30vh;
  position: relative;
  padding: 12vh 0;
}

.div-cursos{
  display: flex;
  flex-direction: column;
  }

.div-cursos h1{
  display: flex;
  height: 5vh;
  background-color: rgba(255, 0, 0, 0.253);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-inline: 3vw;
}
/* FIN CURSOS ↑ */











 /* INICIO SOBRE NOSOTROS ↓ */
 .section-sobre-nosotros{
  padding: 12vh 0; 
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60vh;
  text-align: center;
  justify-content: center;
  margin-inline: 25vw;
 }

 .section-sobre-nosotros p{
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(0, 128, 0, 0.361);
  justify-content: center;
  width: 60%;
  display: flex;
  text-align: center;
  align-items: center;
 }

 @media screen and (max-width: 524px) {
  .section-sobre-nosotros{
    margin-inline: 3vw;
  }
  .section-sobre-nosotros p{
    width: 80%;
   }
 }
 /* FIN SOBRE NOSOTROS ↑ */






 /* INICIO CONTACTO */
 .section-contacto{
  margin-top: 50vh;
  /* margin-bottom: 10vh; */
  position: relative;
  padding: 12vh 0;
  /* z-index: 1; */
}

.h1-contacto{
  text-align: center;
  margin-bottom: 5vh;
}

.div-contacto{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 6vw;
}

.svg-contacto{
  width: 2vw;
}
.div-contacto a{
  text-align: center;
  gap: 1vh;
}


@media screen and (max-width: 524px) {
  .div-contacto{
    gap: 12vw;
  }

  .svg-contacto{
    width: 10vw;
  }
}
 /* FIN CONTACTO */
