/* INICIO GENERAL ↓ */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: black;
  font-family: "Prompt", sans-serif;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 524px) {
  body, html {
    scroll-behavior: unset;
  }
}
/* FIN GENERAL ↑ */










/* INICIO VIDEO ↓ */
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#video-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content {
  position: absolute;
  margin: auto;
  z-index: 1;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.088);
  width: fit-content;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* IFIN VIDEO ↑ */











/* INICIO NAV BAR ↓ */
.div-navbar{
  position: sticky;
  top: 0%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 0;
  height: 12vh;
  z-index: 2;
}

.logo-menu{
  width: 8vw;
  margin-left: 2vw;
}



.ul-menu{
  display: flex;
  gap: 3vw;
  margin-right: 2vw;
  list-style: none;
}

.ul-menu li a, .ul-menu li button{
  font-size: 1.5vw;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.ul-menu li a:hover, .ul-menu li button:hover{
  text-shadow: 
  0px 0px 20px yellow,
  0px 0px 25px yellow;
}




@media screen and (max-width: 524px) {
  .div-navbar{
    height: 8vh;
  }
  
  .logo-menu{
    width: 16vw;
    margin-left: 3vw;
  }
  
  .ul-menu{
    margin: 0;
    gap: 4vw;
    margin-right: 3vw;
  }
  
  .ul-menu li a{
    font-size: 2.1vw;
  }
  
  .ul-menu li a:hover{
    text-shadow: 1px 1px 12px yellow;
  }

  
}
/* FIN NAV BAR ↑ */










/* INICIO MI CUENTA ↓*/
.section-mi-cuenta{
  position: absolute;
  background-color: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 30vh;
  z-index: 5;

}
/* FIN MI CUENTA ↑ */


















/* INICIO CURSOS ↓ */
.section-cursos{
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  position: relative;
  padding: 12vh 0;
}

.h1-cursos{
  text-align: center;
  color: white;
}

.div-cursos{
  display: flex;
  overflow:hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }

.div-curso{
  background-color: rgba(255, 255, 255, 0.075);
  width: 30%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 15px;
  margin: 1rem 3rem;
}

.div-cursos h2{
  color: white;
  display: flex;
  height: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-inline: 3vw;
}

.div-cursos p{
  margin: 1rem;
  text-align: center;
  width: 100%;
  color: white;
}

iframe{
  width: 100%;
  border-radius: 15px;
}


@media screen and (max-width: 524px) {
  
  .div-curso{
    width: 90%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    margin: 1vh 0;
  }
  
  .div-cursos h1{
    color: white;
    display: flex;
    height: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-inline: 3vw;
  }
  
  .div-cursos p{
    margin: 1rem;
    text-align: center;
    width: 100%;
    color: white;
  }

  iframe{
    width: 100%;
    border-radius: 15px;
  }
}

/* FIN CURSOS ↑ */











 /* INICIO SOBRE NOSOTROS ↓ */
 .section-sobre-nosotros{
  padding: 12vh 0; 
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60vh;
  text-align: center;
  justify-content: center;
  margin-inline: 25vw;
 }
 
 .section-sobre-nosotros h1{
  color: white;
 }

 .section-sobre-nosotros p{
  color: white;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(0, 128, 0, 0.361);
  justify-content: center;
  width: 60%;
  display: flex;
  text-align: center;
  align-items: center;
 }

 @media screen and (max-width: 524px) {
  .section-sobre-nosotros{
    margin-inline: 3vw;
  }
  .section-sobre-nosotros p{
    width: 80%;
   }
 }
 /* FIN SOBRE NOSOTROS ↑ */






 /* INICIO CONTACTO */
 .section-contacto{
  margin-top: 50vh;
  /* margin-bottom: 10vh; */
  position: relative;
  padding: 12vh 0;
  /* z-index: 1; */
}

.h1-contacto{
  color: white;
  text-align: center;
  margin-bottom: 5vh;
}

.div-contacto{
  background-color: rgba(255, 255, 255, 0.452);
  width: 25%;
  padding: 5px ;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 6vw;
  margin-inline: auto;
  border-radius: 15px;
}

.svg-contacto{
  width: 2vw;
}
.div-contacto a{
  text-align: center;
  gap: 1vh;
}


@media screen and (max-width: 524px) {
  .div-contacto{
  width: 85%;
    gap: 12vw;
  }

  .svg-contacto{
    width: 10vw;
  }
}
 /* FIN CONTACTO */










/* INICIO FORMULARIO CONSULTA ↓ */
 .section-formulario{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 .contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  margin-inline: auto;
  background: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form button:hover {
  background: #218838;
}
/* FIN FORMULARIO CONSULTA ↑ */