/* INICIO GENERAL ↓ */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
/* FIN GENERAL ↑ */





/* INICIO VIDEO ↓ */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 20%;
  background-color: rgba(0, 0, 0, 0.088);
  margin-inline: auto;
  width: fit-content;
  border-radius: 10px;
}
/* IFIN VIDEO ↑ */





/* INICIO NAV BAR ↓ */
.div-navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  padding: 0;
  height: 12vh;
}

.logo-menu{
  width: 8vw;
  margin-left: 2vw;
}

a{
  text-decoration: none;
}

.ul-menu{
  display: flex;
  gap: 3vw;
  margin-right: 2vw;
  list-style: none;
}

.ul-menu li a{
  font-size: 1.5vw;
  color: white;
}

.ul-menu li a:hover{
  text-shadow: 1px 1px 12px yellow;
}

.ul-menu li a:active{
  text-shadow: 1px 1px 12px yellow;
}




@media screen and (max-width: 524px) {
  .div-navbar{
    height: 10vh;
  }
  
  .logo-menu{
    width: 16vw;
    margin-left: 3vw;
  }


  
  .ul-menu{
    margin: 0;
    gap: 4vw;
    margin-right: 3vw;
  }
  
  .ul-menu li a{
    font-size: 2.5vw;
  }
  
  .ul-menu li a:hover{
    text-shadow: 1px 1px 12px yellow;
  }
  
}
/* FIN NAV BAR ↑ */